# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.h5
*.tflite

# Virtual env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data and models (keep big stuff out of Git)
data/
models/

# VS Code
.vscode/
